html, body {
    min-height: 100%;
    max-width: 100%;
}

.head {
    background-color: rgb(27, 26, 26);
    color: white;
    padding: 20px;
}

h1, h2, p, li, h3, a {
    text-align: center;
    font-family: "Times New Roman", Georgia, serif;
}

h1 {
    font-size: 3rem;
    padding: 0.5rem;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    padding: 0.5rem;
}

img {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 3px grey;
}

p {
    margin: 1rem;
}

p.recipe {
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
}

p.recipe + p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.list {
    margin: 0 auto;
    max-width: fit-content;
}

.list ul {
    padding: 10px;
}

.list ul li {
    list-style-type: disc;
    padding: 10px;
}

.list ol li {
    list-style-type: decimal;
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
}

.footer a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: pink;
}



